.flash_messages li {
  color: #000000;
}

html {
  font-family: 'Open Sans', sans-serif;
  background: url(../static/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px;
}

body {
  padding-top: 50px;
  padding-bottom: 70px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  background: none;
}

/*a {
  text-decoration: none;
}*/

.one {
  background-color: #1a1a1a;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
}

.flags {
/*  display: inline-block;
  float: right;*/

}

.flags>li>a {
  color: #fff;
  /*font-size: 14px;*/
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Open Sans', sans-serif;
}

.logo {
  display: block;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  /*margin-bottom: 50px;*/
}

.body {
  max-width: 75%;
  position: relative;
  margin: auto;
}

.body-products {
  max-width: 90%;
  position: relative;
  margin: auto;
}

p {
  color: #fff;
  margin: 0px;
}

h2 {
  /*text-align: center;*/
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  /*font-size: 36px;*/
  /*margin: 0px;*/
}

.right-align {
  text-align: right;
  direction: rtl;
}

/*button {
  width: 100px;
  padding: 6.8px;
  border: 0px;
  background: black;
  color: #fff;
  vertical-align: top;
}

button.blue {
  padding: 15px 10px 15px 10px;
  background-color: #33afad;
  width: 140px;
	margin:auto;
}*/

/*.blue {
  padding:15px 0px 15px 0px;
  background-color: #33afad;
}*/

/*input.submit {
  color: #fff;
  background: #33afaf;
  padding: 10px 30px 10px 30px;
  border: 0px;
}*/


#submit-login {
  margin-bottom: 10px;
}

#account_balance {
  margin: auto;
  background-color: #33afad;
  /*padding: 6px 0px 6px 0px;*/
  width: 25%;
  min-width: 270px;
  font-size: 15px;
  /*margin-bottom: 10px;*/
  text-align: center;

  padding: 10px;
  height: 40px;
  position: fixed;
  top: 50px;
  right: 0;
  z-index: 200;
}

.message {
  z-index: 200;
  /*margin: auto;*/
  /*text-align: center;*/
  width: 40%;
  left: 30%;
  position: absolute;
}

/**#notify{
  text-align: center;
  width: 600px;
  margin: auto;
  background-color: #d74a50;
  padding: 25px;
}**/
#notify {
  text-align: center;
  width: 450px;
  margin: auto;
  margin-bottom: 5px;
  padding: 11px;
}

.before-notify {
  width: 100%;
  /*height: 100%;*/
  padding: 20px;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 10px;
  /*background-color: black;*/
}

/*for the "back to list of groups" button oh my*/
#notifyy {
  /*text-align: center;*/
  /*width: 271px;*/
  /*margin: auto;*/
/*  margin-bottom: 5px;
  background-color: #dd4b39;
  padding: 5px;*/
}

#back-btn {
  text-align: left;
  /*float: left;*/
}

.two {
  /*margin-top: 30px;*/
  margin: auto;
  padding: 0 30px 30px 30px;
  text-align: center;
  /*background-color: rgba(255, 255, 255, 0.8);*/
  background: #ededed;;
  border: 5px solid black;
  width: 90%;
}

.mainco {
  text-align: justify;
  margin: 1%;
  background: #ededed;
/*  vertical-align: top;
  margin-right: 20px;
  background-color: white;
  display: inline-block;
  width: 40%;*/
}

.mainco p {
  /*padding: 0px 20px 0px 20px;*/
  color: black;
  background: #ededed;
}

#product-url{
  color: black;
  text-align: center;
}

.video_desktop {
  border: 2px solid black;
  /*display: inline-block;*/
  /*vertical-align: top;*/
}

.video_mobile {
  border: 2px solid black;
  /*display: none;*/
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /*padding-top: 30px;*/
    /*margin-bottom: 30px;*/
    /*margin-top: 10%;*/
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
}

.invest-form {
  text-align: center;
  margin: 20px;
}

input.number {
  margin: auto;
  margin-top: 5px;
  max-width: 250px;
  /*width: 250px;*/
  /*padding: 4px;*/
}

input.submitproduct {
/*  background: #4d4d4d;
  color: #fff;*/
  /*padding: 5px 30px 5px 30px;*/
}

hr {
  border-color: #222;
}

#back {
  text-align: center;
  width: 271px;
  margin: auto;
  margin-bottom: 5px;
  background-color: #d74a50;
  padding: 11px;
}

/*input.email, input.password {
  padding: 9px;
  font-size: 14px;
  background: #ffffff;
  border: 0px;
  width: 200px;
}*/

/* iframe, was ifram ????*/
iframe {
  border: 0px;
}

/*.itemDiv {
  border: 1px solid #494949;
  display: inline-block;
  margin-bottom: 20px;
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
}*/

/*img.products {
  width: 290px;
  height: 180px;  
}*/

img.products {
  width: 100%;
  height: 100%;  
}

.panel-product {
  /*height: 200px;*/
  /*min-width: 300px;*/
  width: 290px;
  height: 400px;
  margin: auto;
  margin-bottom: 30px;
}

.product_title {
  text-align: center;
  background-color: #0c344b;
  color: #fff;
  padding: 5px;
}

.panel-gray {
  text-align: center;
  border-color: #494949;
}

.panel-gray>.panel-heading {
  color: #fff;
  background-color: #0c344b;
  border-color: #494949;
}

.panel-body {
  padding: 0;
  /*width: 400px;*/
  height: 360px;
  background-color: #BBBBBB;
}

.panel-overlay {
  display: none;
}

.panel-product:hover > .panel-overlay {
  position: absolute;
  /*position: relative;*/
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  /*top: 0;*/
  width: 290px;
  height: 400px;
  /*left: 15px;*/
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .5);
  /*background: #ededed*/
  /*opacity: 0.5;*/
  z-index: 100;
  display: block;

  /*margin: 20px;*/
  /*margin: 0 15px 15px 15px;*/
}

.panel-text {
  color: #fff;
  margin: auto;
  text-align: center;
  padding-top: 50%;
  /*margin: auto;*/
}

#userbox {
  /*background: #9d9d9d;*/
/*  padding: 2px 13px 2px 10px;
  margin-right: 35px;*/
}

.container-fluid {
  margin-top: 50px;
}

.emailindex {
  height: 35px;
  border: aliceblue;
  width: 220px;
  padding-left: 8px;
}

div#login-container {
  width: 300px;
  margin: auto;
  background: #ededed;
  padding: 25px;
  text-align: center;
  color: black;
  top: 1%;
  /*position: relative;	*/
}

#signup-container {
  width: 500px;
  margin: auto;
  background: #ededed;
  padding: 25px;
  text-align: center;
  color: black;
  top: 1%;
}

#password-reset-div {
  width: 500px;
  margin: auto;
  background: #ededed;
  padding: 25px;
  text-align: center;
  color: black;
  top: 1%;
}

#password-reset-div>p, #password-reset-div>h2, #password-reset-div>form>p {
  color: black;
}

ul li {
  line-height: 34px;
  color: #fff;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

.meet-inline-logo {
  position: relative;
  bottom: -4px;
  max-height: 19px;
  margin:0px 0px 0px 10px;
  vertical-align: baseline;
}

footer {
  vertical-align: top;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  /*margin: auto;*/
  /*display: block;*/
/*  padding-left: 10px;
  padding-right: 10px;*/
  text-align: center; 
  /*margin-top: 20px;*/
  /*margin-bottom: 20px;	*/
  position: fixed;
  bottom: 0px;
  z-index: -100;
}

img.footer {
  /*height: 70px;*/
  padding-left: 10px;
  padding-right: 10px;
  /*vertical-align: top;*/
}

#meet-img {
  /*height: 40px;*/
}

p.black, a.black {
  color:black;
}


@media only screen and (max-device-width: 480px) {
/*	.video_desktop{
    display:none;
  }

  .video_mobile {
    border: 2px solid black;
  }

	ul {
    padding: 0px 0px 0px 21px
  }

	ul li {
    line-height: 21px;
    color: #fff;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 22px;
  }

	.one {
    background-color: #1a1a1a;
    padding-top: 5px;
    padding-left: 10px;
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
  }

	footer {
    display:block
  }

	img.footer {
    height: 35px;
    margin-bottom: 10px;
 
  }

  .mainco {
    vertical-align: top;
    margin-right: 0px;
    background-color: white;
    display: block;
    width: 95%;
    margin: auto;
  }

  #userbox{
    margin-bottom: 20px;
  }*/



  /*  #account_balance{
    width: 97%;
  }*/

  /*  .body {
    max-width: 99%;
  }*/

      /* padding-bottom: 5px; */
    /* height: 74px; */
    /* padding-right: 10px; */

    /*    border-style: solid;
    display: inline-block;
    vertical-align: top;*/

}
/**
li{color:#FFFFFF;}

iframe {
text-align: center;
width: 45%;
position: relative;
left:25%;
height: 95%;
margin-top: 20px;
margin-bottom: 30px;

-moz-border-radius: 12px;
-webkit-border-radius: 12px;
border-radius: 12px;

-moz-box-shadow: 4px 4px 14px #000;
-webkit-box-shadow: 4px 4px 14px #000;
box-shadow: 4px 4px 14px #000;


} 

.chart-container {
background-color: #e1e1e8;
padding: 10px 20px;
}
video{z-index: 110;}

#languageBar{
text-align:right;
font-size: 20px;
}

footer{background-color: #D7DBDB; text-align: center;}


#product_url{
text-align: center;
}

#notify{
text-align: center;
}


#myCarousel-inner > .item > img {
margin: 0 auto;
width: 50%;
}

#myCarousel{
margin: auto;

}

.item img{
opacity:.6;
width: 100%;
top:0;
}

button{background-color: #D4303C;}

input{
color:#000000;
}

@font-face {
font-family: meetFont;
src: url(ProximaNova.otf);
}

@font-face{
font-family: meetTitleFont;
src: url(ProximaNovaScOsfRegular.otf);
}

body{ font-family:meetFont; text-decoration-color:none; padding:4px; margin:4px;}
li{font-family:meetFont; font-style: bold; color:#FFFFFF; text-align: left ;font-size: 25px;}
a{font-family:meetFont; color:#FFFFFF; text-decoration: none;}
h1{font-family:meetTitleFont; color:#FFFFFF;font-size: 50px; text-align: center;}
h2{font-family:meetFont; font-style: bold; font-size: 40px; color: #FFFFFF;text-align: center;}
h3{font-family:meetFont; color:#FFFFFF;}
h4{font-family:meetFont;}
p{font-family: meetFont; color:#FFFFFF; font-size: 20px;}
.flash_messages li{
color: #000000;
font-family:meetFont;
font-size: 25px;

}

#login_container{
text-align: center;

}

#signupcontainer{
text-align: center;
}
#loginModal{z-index: 2;}
#loginModal p{color:black;}
ul {
line-height: 500%;


}

**/
Y3 Accelerator Crowd Funding Campaign: Proxima Nova ScOsf, size 70
Languages: English: Proxima Nova Alt, Hebrew: Open Sans Hebrew, size 40
How it works: Proxima Nova (Bold), size 50
Text: Proxima Nova Alt (Bold), size 44
Notify me...: Proxima Nova Alt (Bold), size 35
Submit: Proxima Nova Alt (Bold), size 30


RED - #D4303C
NAVY - #0C344B
BLUE - #27A1A1

GREY - #D7DBDB
BACKGROUND - #ededed