

	<head>
	 	<meta http-equiv="refresh" content="60">
	 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- <link rel="stylesheet" href="{{url_for('static', filename='w3.css')}}"> -->
		<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
		<link rel="stylesheet" href="{{url_for('static', filename='style_dashboard.css')}}">
	</head>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="https://d3js.org/d3.v3.min.js"></script>
		
	

<!-- Bar Graph --> 
<script type='text/javascript'>
$(document).ready(function() {
					

			(function( $ ){
				var methods = {
					el: "",
					oldData: "",
					init: function(options){
						methods.el = this;
						
						
						var clone = options["data"].slice(0);
						methods.setup(clone, options["width"], options["height"]);			
					},
					update: function(data){
						methods.el = this;
						
						methods.animateBars(data);
					},
					animateBars: function(data){
						
						var svg = d3.select(methods.el["selector"] + " .barchart");
						var barrects = d3.select(methods.el["selector"] + " .barrects");
						
								
						var initialHeight = 0;		

                        
						
                        methods.x.domain(data.map(function(d) { return d.letter; }));
                        svg.select("g.x")
                            .transition()
							.duration(500)
                            .call(methods.xAxis);


						var bar = barrects.selectAll("rect")
							.data(data);
						 
						// Enter
						bar.enter()
							.append("rect")
							.attr("class", "bar")
							.attr("y", methods.height);
						 
						// Update
						bar
							.attr("fill", function(d){
								var topVals = {{totals|sort(reverse=True)}};
								
								//console.log(topVals);
								if (d.frequency == topVals[0]){
									return "red";
								}
								else if (d.frequency == topVals[1]){
									return "orange";
								}
								else if (d.frequency == topVals[2]){
									return "yellow";
								}
								else if (d.frequency == topVals[3]){
									return "green";
								}
								return "steelblue"


							  })
                            .attr("y", methods.height)
							.attr("height", initialHeight)
							.transition()
							.duration(500)
							.attr("x", function(d) { return methods.x(d.letter); })
							.attr("width", methods.x.rangeBand())
							.attr("y", function(d) { return methods.y(d.frequency); })
							.attr("height", function(d) { return methods.height - methods.y(d.frequency); })
						 
						// Exit
						bar.exit()
							.transition()
							.duration(250)
							.attr("y", initialHeight)
							.attr("height", initialHeight)
							.remove();

					
					},
					setup: function(data, w, h){

						var topVals = {{totals|sort(reverse=True)}}
						var yLabel = "Amount Fundraised";
						var maxLimit = topVals[0] * 1.10 ;
						var minLimit = 0;
						
						var margin = {top: 20, right: 20, bottom: 30, left: 40}
						methods.width = w - margin.left - margin.right;
						methods.height = h - margin.top - margin.bottom;

						methods.x = d3.scale.ordinal()
							.rangeRoundBands([0, methods.width], .1);

						methods.y = d3.scale.linear()
							.range([methods.height, 0]);

						methods.xAxis = d3.svg.axis()
							.scale(methods.x)
							.orient("bottom");

						methods.yAxis = d3.svg.axis()
							.scale(methods.y)
							.orient("left");

						var svg = d3.select(methods.el["selector"]).append("svg")
							.attr("class", "barchart")
							.attr("width", methods.width + margin.left + margin.right)
							.attr("height",methods.height + margin.top + margin.bottom)
						  .append("g")
							.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

						  methods.x.domain(data.map(function(d) { return d.letter; }));
						  methods.y.domain([minLimit, maxLimit]);

						  svg.append("g")
							  .attr("class", "x axis")
							  .attr("transform", "translate(0," + methods.height + ")")
							  .call(methods.xAxis);

						  svg.append("g")
							  .attr("class", "y axis")
							  .call(methods.yAxis)
							.append("text")
							  .attr("transform", "rotate(-90)")
							  .attr("y", 6)
							  .attr("dy", ".71em")
							  .style("text-anchor", "end")
							  .text(yLabel);
							  
							
						this.barrects = svg.append("g")
							  .attr("class", "barrects")
							  .attr("transform", "translate(0,0)")
 
							methods.animateBars(data);


						function type(d) {
						  d.frequency = +d.frequency;
						  return d;
						}
					}					
				};

				$.fn.barchart = function(methodOrOptions) {
					if ( methods[methodOrOptions] ) {
						return methods[ methodOrOptions ].apply( this, Array.prototype.slice.call( arguments, 1 ));
					} else if ( typeof methodOrOptions === 'object' || ! methodOrOptions ) {
						// Default to "init"
						return methods.init.apply( this, arguments );
					} else {
						$.error( 'Method ' +  methodOrOptions + ' does not exist' );
					}    
				};

			})(jQuery);
		
			
				

			var w = 1;
			var h = 3;
			
			var dataCharts = [
				{
					"data": [
					{%for i in range(totals|length)%}
						{
							"frequency": {{totals[i]}} ,
							"letter" : "{{products[i].team.name}}"	
						},
					{%endfor%}
					]
				}
					
					
			];
			
			var clone = jQuery.extend(true, {}, dataCharts);

				//__invoke barchart
				$('[data-role="barchart"]').each(function(index) {
					var selector = "barchart"+index;
					
					$(this).attr("id", selector);
					
					var options = {
						data: clone[0].data,
						width: $(this).data("width"),
						height: $(this).data("height")
					}
					
					$("#"+selector).barchart(options);
					$("#"+selector).barchart('update', clone[0].data);
				});
			
			
			$(".testers a").on( "click", function(e) {
				e.preventDefault();

				var clone = jQuery.extend(true, {}, dataCharts);

				var min = 0;
				var max = 1;
					
				//__invoke pie chart
				$('[data-role="barchart"]').each(function(index) {
					pos = Math.floor(Math.random() * (max - min + 1)) + min;
					$("#"+$(this).attr("id")).barchart('update', clone[pos].data);
				});

			});	
});
</script>
<!-- Navbar --> 
<div>
	<nav class="navbar navbar-inverse navbar-fixed-top">
	    <div class="container">
	      <div class="navbar-header">
	        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="/brandClick">
	          <img alt="Brand Meet_Logoredv" src="{{url_for('static', filename='meet_logo_1.png')}}" style="max-height: 100%;">
	        </a>
	      </div>

	      <div class="collapse navbar-collapse" id="navbar-collapse-1">
	        

	        <div class="navbar-right">
	        	<div class="navbar-text" id="userbox">
	                You are currently signed in as {{session['email']}}. 
	            </div>
	            <ul class="nav navbar-nav">
	              <li><a href = "{{url_for('logout')}}">Log Out</a></li>
	              <li><a href = "{{url_for('showDashboard')}}">Dashboard</a></li>
	            </ul>
	        </div>

	      </div>

	    </div>
	  </nav>
	</div>


<!--Flash Messaging --> 
{% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="alert alert-info alert-dismissible message" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="text-align: right"><span aria-hidden="true">&times;</span></button>

          {% for message in messages %}
            <strong> {{ message }} </strong><br>
          {% endfor %}
        </ul>

      </div>
      {% endif %}
{% endwith %} 



<div class="row" style="">
	<div class="roundbox" style="width: 350px; height: 225px;">
		<div class = "box_header">
			Total Invested {{"${:,.0f}".format(totals|sum)}}
		</div>
		<div class = "box_body">
			<h3>Gold Investors: {{gold_investors|length}}</h3>
			<h3>Silver Investors: {{silver_investors|length}}</h3>
			<h3>Bronze Investors: {{bronze_investors|length}}</h3>
		</div>
		
	</div>
	<div id="barchart_box" class="roundbox" style="width: calc(100% - 400px); height: 225px;"> 
		<div class = "box_body">
			<div id="holder">
    			<div id="barchart" class="barchart" data-role="barchart" data-width=800 data-height=200></div>
    			<script type="text/javascript">
    				document.getElementById("barchart").setAttribute("data-width", $(window).width()-400)
    				console.log(document.getElementById("barchart").getAttribute("data-width"))
    			</script>
			</div>
		</div>
	</div>
</div>



<div class="row">
		<a href='{{url_for("showTeamActivity")}}'>
			<div class="roundbox box_button" >
				Team Activity
				
			</div>
		</a>
		<a href='{{url_for("showDatabase")}}'>
			<div class="roundbox box_button" >
				User Database
				
			</div>
		</a>
		<a href='{{url_for("sendNotifications")}}'>
			<div class="roundbox box_button" >
				Send Notifications
				
			</div>
		</a>
</div>



<div class="row" style="">
	<div class="roundbox" style="width: calc(100% - 40px); height: 225px;">
		<div class = "box_header">
			Rankings
		</div>
		<div class = "box_body">
			<table style="width:100%;text-align:left;">
				<tr>
					<th>		Place	</th>
					<th>		Team Name	</th>
					<th>	Investment Total		</th>
					<th>	Number of Investments	</th>
				</tr> 

				{% for product in rankings%}
				<tr>
					<td> {{loop.index}}	</td>
					<td>{{product[0]}}	</td>
					<td>	{{"${:,.2f}".format(product[1])}}	</td>
					<td>	{{investorsdict[product[0]]}}	</td>
				</tr>
				{%endfor%}
			</table>		
		</div>
	</div>
</div>

<div class="row" style="">
	<div class="roundbox" style="width: calc(25% - 20px); height: 300px;">
		<div class = "box_header">
			add new team
		</div>
		<div class = "box_body">
			<form action = "{{url_for('showDashboard')}}" method = 'post'>
					<input  type="text" name="team_name" placeholder="Team Name"><br>
					<input  type="text" name="members" placeholder="Members - Caleb, Hope..."><br>
					<button  type="submit"> Add Team </button>
			</form>
		</div>
	</div>
	<div class="roundbox" style="width: calc(25% - 20px); height: 300px;">
		<div class = "box_header">
			add new student
		</div>
		<div class = "box_body">
			<form action = "{{url_for('showDashboard')}}" method = 'post'>
					<input  type="text" name="first_name" placeholder="First Name"><br>
					<input  type="text" name="last_name" placeholder="Last Name"><br>
					<input  type="text" name="email" placeholder="Email"><br>
					<input  type="text" autocomplete="off" name="password" placeholder="Password"><br>
					Team: <select name="team_name" placeholder="Team">
						{% for product in products%}
							<option value="{{product.team.name}}">{{product.team.name}}</option>
						{%endfor%}
					</select><br>
					<button  id="add_stud_button" type="submit"> Add Student </button>
			</form>
		</div>
	</div>
	<div class="roundbox" style="width: calc(50% - 20px); height: 300px;">
		<div class = "box_header">
			current teams
		</div>
		<div class = "box_body">
			<table style="width: 100%">
				{% for product in products%}
					<tr>
						<td> {{product.team.name}} </td>
						<td> {{product.team_members}} </td>
						<td> <a href="{{url_for('remove_team', team_id = product.team.id|string)}}">Remove Team</a> </td>
					</tr>
				{%endfor%}
			</table>
		</div>
	</div>
</div>



  <script>
    function autocomplete(inp, arr,offset) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      a.style.backgroundColor = "lightblue";
      a.style.position = "absolute";
      a.style.left = offset;
      a.style.border = "5px blue"
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.insertBefore(a,document.getElementById("add_stud_button"));
      ///this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].toLowerCase().includes(val.toLowerCase())){
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          //b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i]//.substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}



/*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/

$(".team_box").click(function() {
  autocomplete(this,{{team_list|tojson}},'8px')
});

</script>