{% extends "layout.html" %}
{% block body %}

<style>
	#policies-box>h2, #policies-box>p, #policies-box>ul>li {
		color: black;
	}
/*
	p {
		color: black;
	}

	li {
		color: black;
	}*/

</style>

<div id="policies-box" class="two" style="text-align: left; color: black">

<h2>
	Web Site Terms and Conditions of Use
</h2>

<h3>
	1. Terms
</h3>

<p>
	By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, applicable laws and regulations and their compliance. If you disagree with any of the stated terms and conditions, you are prohibited from using or accessing this site. The materials contained in this site are secured by relevant copyright and trade mark law. 
</p>

<h3>
	2. Disclaimer
</h3>

<!-- <ol type="a"> -->
	<!-- <li> -->
	<p>
		The materials on MEET's site are given "as is". MEET makes no guarantees, communicated or suggested, and thus renounces and nullifies every single other warranties, including without impediment, inferred guarantees or states of merchantability, fitness for a specific reason, or non-encroachment of licensed property or other infringement of rights. Further, MEET does not warrant or make any representations concerning the precision, likely results, or unwavering quality of the utilization of the materials on its Internet site or generally identifying with such materials or on any destinations connected to this website. 
	</p>
	<!-- </li> -->
<!-- </ol> -->

<h3>
	3. Amendments and Errata 
</h3>

<p>
	The materials showing up on MEET's site could incorporate typographical, or photographic mistakes. MEET does not warrant that any of the materials on its site are exact, finished, or current. MEET may roll out improvements to the materials contained on its site whenever without notification. MEET does not, then again, make any dedication to update the materials. 
</p>

<h3>
	4. Links
</h3>

<p>
	MEET has not checked on the majority of the websites or links connected to its website and is not in charge of the substance of any such connected webpage. The incorporation of any connection does not infer support by MEET of the site. Utilization of any such connected site is at the user's own risk.
</p>

<h3>
	5. Site Terms of Use Modifications
</h3>

<p>
	MEET may update these terms of utilization for its website whenever without notification. By utilizing this site you are consenting to be bound by the then current form of these Terms and Conditions of Use. 
</p>

<h2>
	Privacy Policy
</h2>

<p>
	Your privacy is critical to us. Likewise, we have built up this Policy with the end goal you should see how we gather, utilize, impart and reveal and make utilization of individual data. The following blueprints our privacy policy. 
</p>


	When logging in with your Facebook or Google accounts, we will only ever access the following information:
	<ul>
		<li>First and Last Name</li>
		<li>Email Address</li>
	</ul>

<p>
	This information will only be used to keep track of users on the website.
</p>

</div>

{%endblock%}