{% extends "layout.html" %}
{% block body %}

<div id="password-reset-div">
{% if session['language'] == 'he' %}
  <p> היי {{user.first_name}}, </p>
  <p> :אפס את סיסמתך להלן </p><br>

  <form action = "{{url_for('resetPassword', email = user.email|string )}}", method = 'post'>
    <p>:קוד ווידוא</p><input class="form-control" type="text" name="code"><br>
    <p>:סיסמא</p><input class="form-control" type="password" name="password"><br>
    <p>:וודא סיסמא<br></p><input class="form-control" type="password" name="verify_password"><br>
    <input class="btn btn-success" type="submit" value="שלח">
  </form>

{% elif session['language'] == 'ar' %}
  <p> مرحبا {{user.first_name}}, </p>
  <p> :قم بإعادة ضبط كلمة السر في الأسفل  </p><br>

  <form action = "{{url_for('resetPassword', email = user.email|string )}}", method = 'post'>
    <p>:كود التفعيل</p><input class="form-control" type="text" name="code"><br>
    <p>:كلمة السر</p><input class="form-control" type="password" name="password"><br>
    <p>:أكد كلمة السر</p><input class="form-control" type="password" name="verify_password"><br>
    <input class="btn btn-success" type="submit" value="أرسل">
  </form>

{%else%}
  <p> Hi {{user.first_name}}, </p>
  <p> Reset your password below: </p><br>

  <form action = "{{url_for('resetPassword', email = user.email|string )}}", method = 'post'>
    <p>Verification Code :</p><input class="form-control" type="text" name="code"><br>
    <p>Password:</p><input class="form-control" type="password" name="password"><br>
    <p>Verify Password:</p><input class="form-control" type="password" name="verify_password"><br>
    <input class="btn btn-success" type="submit" value="Sign Up">
  </form>

{%endif%}
</div>

{%endblock%}