

<head>
		 	<meta http-equiv="refresh" content="60">
		 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
			<!-- <link rel="stylesheet" href="{{url_for('static', filename='w3.css')}}"> -->
			<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
		 

		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="https://d3js.org/d3.v3.min.js"></script>
		
		<style>
		body{
		background: #eeeeee;    
		padding:15px;
		}
		p{
			color:black;
		}
		h2{
			color:black;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/brandClick">
          <img alt="Brand Meet_Logoredv" src="{{url_for('static', filename='meet_logo_1.png')}}" style="max-height: 100%;">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        

        <div class="navbar-right">
        	<div class="navbar-text" id="userbox">
                You are currently signed in as {{session['email']}}. 
            </div>
            <ul class="nav navbar-nav">
              <li><a href = "{{url_for('logout')}}">Log Out</a></li>
              <li><a href = "{{url_for('showDashboard')}}">Dashboard</a></li>
            </ul>
        </div>

      </div>

    </div>
  </nav>
<br>

<h2> Welcome {{user.first_name}}</h2>
<h3> {{team.name}}</h3>





<!-- Before Competition --> 
<h1> Your Team Profile </h1>
<form action="{{ url_for('updateSubmission') }}" method = 'post'  enctype="multipart/form-data">

<p> Your Team Name </p>
<input type = "text", name = "team_name", value = '{{team.name}}'>

<p> Team Logo </p> 
<img src = "{{team.product.photo}}" width = 300px >
<p>Logo URL</p>
<input type='text', name='photo_url', value = '{{team.product.photo}}'>

<p> English MVP Description </p>
<textarea name='description_en'>{{team.product.description_en}}</textarea>

<p> Arabic MVP Description </p>
<textarea name='description_ar'>{{team.product.description_ar}}</textarea>


<p> Hebrew MVP Description </p>
<textarea name='description_he'>{{team.product.description_he}}</textarea>


<p>MVP URL</p>
<input type = 'text', name='website_url', value = '{{team.product.website_url}}'>

<p> MVP Commercial</p>
	<input type='text', name='video_url', value = '{{team.product.video}}'>


	<input type="submit" name="Save Changes" id="submit">
</form>



<h1>Total Investments {{total_investments}}</h1>

<p>Comments</p> 
{%for comment in comments %}
<h3>{{comment.user.first_name}} {{comment.user.last_name}}</h3>
<p>{{comment.text}}</p> 
{%endfor%}

</body>


