

<head>
		 	<meta http-equiv="refresh" content="60">
		 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
			<!-- <link rel="stylesheet" href="{{url_for('static', filename='w3.css')}}"> -->
			<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
			<link rel="stylesheet" href="{{url_for('static', filename='style_dashboard.css')}}">
		 

		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="https://d3js.org/d3.v3.min.js"></script>
		
	
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/brandClick">
          <img alt="Brand Meet_Logoredv" src="{{url_for('static', filename='meet_logo_1.png')}}" style="max-height: 100%;">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        

        <div class="navbar-right">
        	<div class="navbar-text" id="userbox">
                You are currently signed in as {{session['email']}}. 
            </div>
            <ul class="nav navbar-nav">
              <li><a href = "{{url_for('logout')}}">Log Out</a></li>
            </ul>
        </div>

      </div>
    </div>
  </nav>


<!--Flash Messaging --> 
{% with messages = get_flashed_messages() %}
      {% if messages %}
      <div class="alert alert-info alert-dismissible message" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="text-align: right"><span aria-hidden="true">&times;</span></button>

          {% for message in messages %}
            <strong> {{ message }} </strong><br>
          {% endfor %}
        </ul>

      </div>
      {% endif %}
{% endwith %}  




<div class="row" style="">
	<div class="roundbox box_teal" style="width: 330px; height: 480px;">
		<div class = "box_header bkgnd_teal">
			Current Product Ad
		</div>
		<div class = "box_body">
			<div class="panel panel-gray " style="margin-top: 10px">
                  <div class="panel-overlay">
                    <h3 class="panel-text">See more</h3>
                  </div>
                  <div class="panel-heading">
                    <h3 class="panel-title">{{team.name}}</h3>
                  </div>
                  <div class="panel-body">
                    <img class="products" src="{{team.product.photo}}">
                  </div>
                </div>
		</div>
		
	</div>
	<div  class="roundbox box_teal" style="width: calc(100% - 400px); height: 480px; min-width: 500px; "> 
		<div class = "box_header bkgnd_teal">
			Current Product Page
		</div>
		<div class = "box_body" style=" height: 410px; overflow: auto;">
			<div class="two" style="padding: 0px 10px 10px 10px; margin-top: 10px; word-wrap: break-word; ">
				<p style="font-size: 25px;">{{team.name}}</p>

				{%if team.product.team_members != None %}
					<div id="team-members">
						<p>{{team.product.team_members}}</p><br>
					</div>
				{%endif%}

				{%if team.product.website_url != None %}
					<div id="product-url">
						<p>Website: <a href={{team.product.website_url}} target="_blank">{{team.product.website_url}}</a></p><br>
					</div>
				{%endif%}

				<iframe id="video_box" class="video_desktop" width="300"  src="{{team.product.video}}" allowfullscreen></iframe>
				<script type="text/javascript">
    				document.getElementById("video_box").setAttribute("width", Math.min(($(window).width()-400)*.9-57, 400))
    				document.getElementById("video_box").setAttribute("height", .6*document.getElementById("video_box").getAttribute("width"))
    				console.log(document.getElementById("video_box").getAttribute("width"))
    			</script>
				<br>
		



				<div class=" mainco">
					<p>	{{team.product.description_en}}	</p>
				</div> 
			</div>
		</div>
	</div>
</div>


<div class="row" >
	<div class="roundbox box_navy" style="width: calc(100% - 40px); height: 400px; min-width: 500px">
		<div class = "box_header bkgnd_navy">
			Update Team Info
		</div>
		<div class = "box_body">
			<form action="{{ url_for('updateSubmission') }}" method = 'post'  enctype="multipart/form-data">
				<div style="float:left; width: 250px;">
					<p>Your Team Name </p>
					<input type = "text", name = "team_name", value = '{{team.name}}'> <br><br>
					<p>Your Team Members </p>
					<input type = "text", name = "team_members", value = '{{team.product.team_members}}'> <br><br>
					<p>New Team Logo </p>
					<input style="display: inline;" type='file', name='photo', value = '{{team.product.photo}}'> <br><br>

					<p>Product Website URL</p>
					<input type = 'text', name='website_url', value = '{{team.product.website_url}}'>
					<br><br>

					<p>Youtube URL for Product Video</p>
					<input type='text', name='video_url', value = '{{team.product.video}}' placeholder="https://www.youtube.com/embed/jLNrvmXboj8">
					<br>
				</div>
				<div style="float:left; width: calc(100% - 250px);">
					Product Description - English <br> 
					<textarea name='description_en' style="width: 90%; height: 18%;">{{team.product.description_en}}</textarea>
					<br>

					<p> Product Description - Arabic </p>
					<textarea name='description_ar' style="width: 90%; height: 18%;">{{team.product.description_ar}}</textarea>
					<br>

					<p> Product Description - Hebrew </p>
					<textarea name='description_he' style="width: 90%; height: 18%;">{{team.product.description_he}}</textarea>
					<br>


					

					<input style="float: right; margin-right: calc(10% ) " type="submit" name="Save Changes" id="submit">
				</div>
			</form>
		</div>	
	</div>

	<!--
	<div class="roundbox box_navy" style="width: calc(30% - 20px); height: 126px; min-width: 200px">
		<div class = "box_header bkgnd_navy">
			Total Invested
		</div>
		<div class = "box_body">
			<h3>{{"${:,.2f}".format(total_investments)}}</h3>
		</div>	
	</div>

	<div class="roundbox box_navy" style="width: calc(30% - 20px); height: 126px; min-width: 200px">
		<div class = "box_header bkgnd_navy">
			Number Investments
		</div>
		<div class = "box_body">
			<h3>{{num_investments}} Investors</h3>
		</div>	
	</div>

	<div class="roundbox box_navy" style="width: calc(30% - 20px); height: 126px; min-width: 200px">
		<div class = "box_header bkgnd_navy">
			Average Investment
		</div>
		<div class = "box_body">
			{%if num_investments==0%}
				<h3>No investments yet</h3>
			{%else%}
				<h3>{{"${:,.2f}".format(total_investments/num_investments)}}</h3>
			{%endif%}
		</div>	
	</div>
	-->
</div>


<div class="row" >
	<div class="roundbox" style="width: calc(100% - 40px); min-width: 500px">
		<div class = "box_header ">
			Comments
		</div>
		<div class = "box_body">
			{%for comment in comments %}
			<h3>{{comment.user.first_name}} {{comment.user.last_name}}</h3>
			<p>{{comment.text}}</p> 
			{%endfor%}
		</div>	
	</div>
</div>



</body>


